*,html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    min-height: 100%;
}

body{
    background-image: url('3.jpeg') !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
width:400px;
height: 860px;
margin:0 auto;
border: 1px solid purple;
box-shadow: 0 5px 5px 3px rgba(255,255,255,0.5);
margin-top: 130px;
border-radius: 33px;
}


img, embed{
    margin-left: 15px;
    margin-top: 13px;
    width: 370px;
    height: 300px;
    border: 1px solid purple;
    border-radius: 33px;
    box-shadow: 0 5px 5px 3px rgba(255,255,255,0.3);
}
.content{
    width: 370px;
    height: 400px;
    margin-left: 15px;
    margin-top: 13px;
    border: 1px solid purple;
    border-radius: 33px;
    font-size: 10px;
    background-color:plum;
    color: white;
    padding: 22px;
    box-shadow: 0 5px 5px 3px rgba(255,255,255,0.8);
}
#read{
    background-color: purple;
    border: none;
    color: whitesmoke;
    padding: 10px 22px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
    margin-top: 15px;
    margin-left: 155px;
  }
  
  #read:hover{
    opacity: 1;
    background-color:plum;
    color:cornsilk;
  }

  .secondbuttons{
      margin-top: 15px;
      margin-left: 8px;
      margin-right: 8px;
      display: flex;
      justify-content: space-between;
  }
#pause{
    background-color: hsl(300, 31%, 20%);
    border: none;
    color: #d36868;
    border-radius: 33px;
    padding: 6px 22px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
}
#pause:hover{
    opacity: 1;
    background-color:#c061c0;
    color:cornsilk;
}

#cancel{
    background-color: #df48df;
    border: none;
    color: #615a5a;
    border-bottom-left-radius: 33px;
    border-top-right-radius: 33px;
    padding: 6px 22px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
}
#cancel:hover{
    opacity: 1;
    background-color:rgb(65, 32, 65);
    color:cornsilk;
}

#resume{
    background-color: #130413;
    border: none;
    color: whitesmoke;
    border-radius: 33px;
    padding: 6px 22px;
    text-align: center;
    font-size: 16px;
    opacity: 0.6;
    transition: 0.3s;
}
#resume:hover{
    opacity: 1;
    background-color:plum;
    color:#2e2a19;
}

.firstcontainer{
 width:120px;   
 margin:0 auto;
}

#picturebutt{
    margin: 0 auto;
    margin-left: 232px;
    margin-top: 100px;
    width: 150px;
    padding: 5px;
    position: relative;
    background-color:rgb(4, 5, 5);
  border: none;
  font-size: 10px;
  color: #FFFFFF;
  padding: 15px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}
#picturebutt:after{
   content: "";
  background: purple;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

#picturebutt:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }



  @media only screen and (max-width: 600px){
    #picturebutt{
     margin-left:128px;
     
    }
    .firstcontainer{
      margin-top: 35px;
    }
    .container{
        margin-bottom: 100px;
    }
    p{
        text-align: center;
        font-size:8px;
    }
  }

  @media only screen and (min-width: 600px){
    
    p{
        text-align: center;
    }
  }




  @media only screen and (min-width: 768px){
 .container{
     margin-bottom: 200px;
 }
 .firstcontainer{
     margin-top: 50px;
 }
 #picturebutt{
     margin-left:350px;
 }
 p{
     text-align: center;
     font-weight: bold;
 }

  }

  @media only screen and (min-width: 992px){
          #picturebutt{
              margin-left: 450px;
          }
          p{
              text-align: center;
              font-weight: bold;
          }
      
  }